[server default]
user=root
password=root
ssh_user=root

# 配置工作目录
manager_workdir=/usr/local/mha
remote_workdir=/usr/local/mha

# 配置mysql的同步用户
repl_user=hooray
repl_password=hooray

# 配置host
[server1]
hostname=mysql_master
master_binlog_dir=/var/lib/mysql

[server2]
hostname=mysql_slave1
candidate_master=1
master_binlog_dir=/var/lib/mysql

[server3]
hostname=mysql_slave2
candidate_master=1
master_binlog_dir=/var/lib/mysql

