[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
#log-error	= /var/log/mysql/error.log
# By default we only accept connections from localhost
#bind-address	= 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#字符集设置
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# 中继日志
relay_log=mysql-relay-bin
# 只读
read_only=1

# 并行复制
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=16
slave_pending_jobs_size_max = 2147483648
master_info_repository=TABLE
relay_log_info_repository=TABLE
relay_log_recovery=ON

# 开启binlog
log-bin=mysql-bin
# 忽略系统库的数据同步
binlog-ignore-db=information_schema 
binlog-ignore-db=mysql 
binlog-ignore-db=performance_schema 
binlog-ignore-db=sys